<%= error_messages_for :sex %>

<% form_for(@sex) do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :status %>
    <%= f.select(:status, SexType::status_list) %>
  </div>
	<br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>