<% item = 0 %>
<h2><%= @pet.name %></h2>
<table>
  <tr>
    <td valign="top">
      <%= image_link @pet, :class => "photo", :image => :thumbnail %>
    </td>
    <td valign="top">
      <h3>Личное досье:</h3>

      <ul>
	<li><%= "Класс - #{item.title if item = SpeciesType.find_by_id(@pet.species_id)}" %></li>
	<li><%= "Порода - #{item.title if item = BreedType.find_by_id(@pet.breed_id)}" %></li>
	<li><%= "Пол - #{item.title if item = SexType.find_by_id(@pet.sex_id)}" %></li>
	<li><%= "День рождения - #{@pet.date_of_birth.strftime('%d-%m-%Y')}" if @pet.date_of_birth != nil %></li>
	<li><%= "Окрас - #{@pet.color}" %></li>
	<li><%= "Любимая еда - #{@pet.fav_food}" %></li>
	<li><%= "Отличительные особенности - #{@pet.description}" %></li>
	<li><%= "Хозяин - #{person_link item, :class => "url fn" if item = Person.find_by_id(@pet.person_id)}" %></li>
	<li><%= "Откликается на кличку - #{@pet.name}" %></li>
      </ul>
      <div class="rating"> <% test = 4 %>
	<% if logged_in? and current_person.id != @pet.person_id %>
	  <%= render :partial => 'ratings/set_rating', :locals => {:object => @pet.class.name, :object_id => @pet.id} %>
	<% end %>
	<%= render :partial => 'ratings/get_rating', :locals => {:object => @pet.class.name, :object_id => @pet.id} %>
      </div>
    </td>
  </tr>
</table>
