<%- if logged_in? -%>
	<%- column_div :type => :primary do -%>
	  <h2>New advertisement</h2>

		<%= error_messages_for :advert %>

		<%- form_for(@advert) do |f| -%>
		
			<div class="form_row">
		    <label for="advert_deal_id">Deal type</label>
				<%= f.collection_select(:deal_id, 
					@deals.find_all{|deal| deal.status == DealType.status_list['active']}, :id, :title) %>
		  </div>
			
			<div class="form_row">
		    <label for="advert_species">Species</label>
				<%= f.collection_select(:species_id, 
					@species.find_all{|species| species.status == SpeciesType.status_list['active']}, :id, :title) %>
				<br />
				<%= link_to "Not in list", "javascript:;", :onclick => "$('#nospecies').show();" %>
				<br /><br />
				<div id="nospecies" class="hide">
					<label for="advert_newspecies">New species</label>
					<input type="text" name="advert[newspecies]" />
				</div>
		  </div>
		
			<div class="form_row">
		    <label for="advert_breeds">Breeds</label>
				<%= f.collection_select(:breed_id, 
					@breeds.find_all{|breed| breed.status == BreedType.status_list['active']}, :id, :title) %>
				<br />
				<%= link_to "Not in list", "javascript:;", :onclick => "$('#nobreed').show();" %>
				<br /><br />
				<div id="nobreed" class="hide">
					<label for="advert_newbreed">New breed</label>
					<input type="text" name="advert[newbreed]" />
				</div>
		  </div>

			<div class="form_row">
		    <label for="advert_sex_id">Sex</label>
				<%= f.collection_select(:sex_id, 
					@sex.find_all{|sex| sex.status == SexType.status_list['active']}, :id, :title) %>
		  </div>

			<div class="form_row">
	      <label for="advert_price">Price</label>
	      <%= f.text_field :price %>
	    </div>

			<!--div class="form_row">
	      <label for="age">Title</label>
	      <%= f.text_field :title %>
	    </div-->

	    <div class="form_row">
	      <label for="description">Description</label>
	      <%= f.text_area :description, :rows => 5 %>
	    <div>

	    <div class="form_row">
	      <%= f.submit "Create", :class => "button" %>
	      <%= link_to "Cancel", adverts_path %>
	    </div>
	  <%- end -%>
	<%- end -%>
<%- end -%>

<script>
	$('.hide').hide();
</script>
