<%- column_div :type => :primary, :class => "hentry" do -%>
  <h2 class="entry-title"><%= h @advert.title %></h2>

	<table>
	  <tr>
	    <th>Deal</th>
	    <th>Species</th>
	    <th>Breed</th>
	    <th>Sex</th>
	    <th>Price</th>
	    <th>Description</th>
	  </tr>
	
		<% item = 0 %>
	  <tr>
	    <td><%= item.title if item = DealType.find_by_id(@advert.deal_id) %></td>
	    <td><%= item.title if item = SpeciesType.find_by_id(@advert.species_id) %></td>
	    <td><%= item.title if item = BreedType.find_by_id(@advert.breed_id) %></td>
	    <td><%= item.title if item = SexType.find_by_id(@advert.sex_id) %></td>
	    <td><%= @advert.price %></td>
	    <td><%= @advert.description %></td>
	  </tr>
	</table>

  <ul class="list topic full">
    <%= render :partial => 'advert_comments/comment', :collection => @advert.comments %>
  </ul>

  <h2>Add Reply</h2>

  <p><%= formatting_note %></p>

  <%= error_messages_for :advert_comments %>

  <%- form_for([@advert, @advert.advert_comments.build]) do |f| -%>
    <div class="form_row">
      <%= f.text_area :body, :rows => 10, :cols => 30 %>
    </div>

    <div class="form_row">
      <%= f.submit "Submit", :class => "button" %>
			<%= link_to "Cancel", adverts_path %>
    </div>
  <% end %>

<%- end -%>

<%- column_div :type => :secondary do -%>
  <%= render :partial => 'shared/minifeed' %>
<%- end -%>
