<h1>Editing category</h1>

<%= error_messages_for :category %>

<% form_for(@category) do |f| %>
	<div class="form_row">
    <label for="title">Title</label>
    <%= f.text_field :title %>
  </div>

  <div class="form_row">
    <label for="description">Description</label>
    <%= f.text_area :description, :rows => 5 %>
  <div>

	<div class="form_row">
	  <%= f.submit "Edit", :class => "button" %>
	  <%= link_to "Cancel", categories_path %>
	</div>
<% end %>
